    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'customer.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'customer.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="1">{{'customer.credentialsNonExpired' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="1"  [(ngModel)]="item.credentialsNonExpired"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="2">{{'customer.enabled' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="2"  [(ngModel)]="item.enabled"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="3">{{'customer.accountNonExpired' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="item.accountNonExpired"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="4">{{'customer.accountNonLocked' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="4"  [(ngModel)]="item.accountNonLocked"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="5">{{'customer.passwordChanged' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="5"  [(ngModel)]="item.passwordChanged"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'customer.username' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.username' | translate}}" id="6" [(ngModel)]="item.username"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'customer.password' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.password' | translate}}" id="7" [(ngModel)]="item.password"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="8">{{'customer.avatar' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.avatar' | translate}}" id="8" [(ngModel)]="item.avatar"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="9">{{'customer.fullName' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.fullName' | translate}}" id="9" [(ngModel)]="item.fullName"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="10">{{'customer.about' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.about' | translate}}" id="10" [(ngModel)]="item.about"
                                                    />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
